# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

config.*
*.tar.gz
/libtool
/ltmain.sh
.libs
/stamp-h1
.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4/*
!/m4/ale_*.m4
*[^h].in
*.log
*.l[ao]
*.[oa]
*.so
*.pdf
Makefile
*~
[tp]-*
![tp]-*.[hc]
gen-*
!gen-*.[hc]
/gen/
.deps
doc/libale.info
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
src/csv_lexer.c
src/csv_lexer.h
test-driver
ylwrap
src/ale/portability.h
src/ipinfo
doc/libale.t2p/
